<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311270769340-v7u6hf4c7h02msdbvgbddmalr35q4tta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311270769340-v7u6hf4c7h02msdbvgbddmalr35q4tta</string>
	<key>API_KEY</key>
	<string>AIzaSyClsRS1bgM19OA48Mbc1xdzSSnL_jkHNLw</string>
	<key>GCM_SENDER_ID</key>
	<string>311270769340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uvarma.Kakuros</string>
	<key>PROJECT_ID</key>
	<string>kakuro-5b301</string>
	<key>STORAGE_BUCKET</key>
	<string>kakuro-5b301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311270769340:ios:194d4639bcbb38f2f146b9</string>
</dict>
</plist>